.splash {
    background-image: url(https://i.postimg.cc/d0Rr7HLJ/pexels-wendy-wei-1190297.jpg);
    background-position: center -400px;
    background-size: cover;
    line-height: 1.7; 
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 8px black;
    padding: 24px;
}

.title {
    font-size: xx-large;
    position: relative;}

.title::after {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 50%;
        width: 200px;
        height: 2px;
        transform: translateX(-50%);
        background: aliceblue;
}

.splash h2{
    font-style: italic;
    font-size: x-large;
}

.logo {
    font-size: 72px;
    color: coral;
    background-color: aliceblue;
    text-shadow:  none;
    border-radius: 30%;
    padding: 24px;
}

.logo:hover {
    color: rgb(211, 89, 45);
}